<!-- <div class="text">
  <a routerLink="/landpage/home">Home</a>
  <a routerLink="/landpage/profile">Profile</a>
  <a routerLink="/landpage/details">details</a>
</div> -->

<div class="container">
  <div class="menu">

    <ul>
      <li routerLinkActive="active"><a routerLink="/landpage/home" routerLinkActive="active">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/landpage/profile" routerLinkActive="active">Profile</a></li>
      <li routerLinkActive="active"> <a routerLink="/landpage/details" routerLinkActive="active">Details</a></li>
      <li routerLinkActive="active"> <a routerLink="/landpage/education" routerLinkActive="active">Education</a></li>

    </ul>
  </div>
</div>





<router-outlet></router-outlet>
