<div class="container">
    <div class="table">
      <table class="table">
        <thead>
          <th class="text-center">UG-Details</th>
        </thead>
        <thead class="bg-info">
          <th>Collage Name</th>
          <th>Mark</th>
          <th>%</th>
        </thead>
        <tbody>
          <td>C.P.A.Collage</td>
          <td>78.54</td>
          <td>78%</td>
        </tbody>
  
        <thead>
            <th class="text-center">PG-Details</th>
          </thead>
          <thead class="bg-info">
            <th>Collage Name</th>
            <th>Mark</th>
            <th>%</th>
          </thead>
          <tbody>
            <td>C.P.A.Collage</td>
            <td>91.87</td>
            <td>91%</td>
          </tbody>
      </table>
    </div>
  </div>