<div class="container">
    <div class="table">
      <table class="table">
        <thead>
          <th class="text-center">School(10th)-Details</th>
        </thead>
        <thead class="bg-danger">
          <th>School Name</th>
          <th>Year</th>
          <th>Mark</th>
          <th>State</th>
        </thead>
        <tbody>
          <td>Z.K.M.Hr.sec.school</td>
          <td>2017</td>
          <td>375</td>
          <td>Tamil Nadu</td>
        </tbody>
  
        <thead>
            <th class="text-center">School(12th)-Details</th>
          </thead>
          <thead class="bg-danger">
            <th>School Name</th>
            <th>Year</th>
            <th>Mark</th>
            <th>State</th>
          </thead>
          <tbody>
            <td>z.K.M.Hr.Sec.school</td>
            <td>2017</td>
            <td>815</td>
            <td>Tamil Nadu</td>
          </tbody>
      </table>
    </div>
  </div>