<div class="container">
  <div class="table">
    <table class="table">
      <thead>
        <th class="text-center">UG-Details</th>
      </thead>
      <thead class="bg-warning">
        <th>Collage Name</th>
        <th>Year</th>
        <th>State</th>
      </thead>
      <tbody>
        <td>C.P.A.Collage</td>
        <td>2017</td>
        <td>Tamil Nadu</td>
      </tbody>

      <thead>
          <th class="text-center">PG-Details</th>
        </thead>
        <thead class="bg-warning">
          <th>Collage Name</th>
          <th>Year</th>
          <th>State</th>
        </thead>
        <tbody>
          <td>C.P.A.Collage</td>
          <td>2017</td>
          <td>Tamil Nadu</td>
        </tbody>
    </table>
  </div>
</div>