<div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="detail">
          <div class="db">
         <div class="row">
           <div class="col-md-3">
             <h6>Name</h6>
           </div>
           <div class="col-md-3">
            <h6>Gowtham</h6>
          </div>
         </div>
         <div class="row">
          <div class="col-md-3">
            <h6>Email</h6>
          </div>
          <div class="col-md-3">
           <h6>gowtham@gmail.com</h6>
         </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h6>Phone No</h6>
          </div>
          <div class="col-md-3">
           <h6>8682919578</h6>
         </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h6>Address</h6>
          </div>
          <div class="col-md-3">
           <h6>Theni,Bodinyakanur</h6>
         </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h6>State</h6>
          </div>
          <div class="col-md-3">
           <h6>TamilNadu</h6>
         </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
